.addbtn
{
  font-family: 'B Titr';
  font-size: 12px;
  border-radius: 6px;
  border-color: green;
  margin: 10px 0px 10px 20px;
  padding: 4px;
  background-color: greenyellow;
}

.modal-title{
  font-size: 16px;
}

.form-label, control-label{
  font-size: 16px;
}
